<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<style type="text/css">
	.column { 
		width: 500px; 
		background:#ccc;	
		}	  
	  .img {
                width: 500px;
                background: #fff;
                padding-left: 40px;
                }
	.links{
                width:100px;
                background:#ccc;
                float:right;
                position:relative;
                }

	</style> 
	<title>Просмотр задач</title>
</head>

<body>
<div class="links">
	<a href="{% url 'sopromat_stretch:tester' %}">Пойти решать</a>		<br/>
	<br/>
	<a href="{% url 'sopromat_stretch:stats_student' %}">Статистика для студента</a><br/>
	<br/>
	<a href="{% url 'sopromat_stretch:stats_teacher' %}">Статистика для учителя</a><br/>
	<br/>
	<a href="{% url 'sopromat:index' %}">На главную</a>
	<br/>
	
	
</div>
Выберите задачу

<select style="width: 350px;" name="tasks" onchange = "location = this.options[this.selectedIndex].value;">
	<option selected="choose">choose</option>
		{% for i in stretch_tasks %}
        <option value="?task={{i.id}}" >
        	{{i.id}}
        </option>   
		{% endfor %}
</select>
{% if stretch_taskselected %}
<table cellspacing="0" cellpadding="0">
	<tr>
        	<td>
                	<div class="column">
						Задача #{{stretch_task.id}}
						{% autoescape off %}{{ stretch_task.text }}{% endautoescape %}
						
				<br/><br/>Ответы: N={{stretch_task.answerN}}, L={{stretch_task.answerL}}, S={{stretch_task.answerS}}
                        </div>
                </td>
                <td>
                <div class="img">
						{% load staticfiles %}

						<img src="{% static "stretch_" %}{{stretch_task.id}}.png" />
		            </div>
                </td>
                </tr>
                </table>

{% endif %}
<br/>
</body>
</html>
