<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<style type="text/css">
	.tasktext {
		width: 300px;
		background:#ccc;
		}
	.loginform {
		width: 400px;
		text-align: left;
		background:#ccc;
		}
	</style>
	<title>Сопромат</title>
</head>

<body>
<div class="loginform">
	Автоматизированная система онлайн тестирования по сопротивлению материалов, физике и др.<br/><br/>
	Вы: {{user}}
	<br/><br/>
	Выберите предмет
	<br/><br/>
	<a href="sopromat">Сопротивление материалов</a><br/>
	<br/>
	<a href="">Physics(Not implemented)</a><br/>
	<br/>

</div>
</body>
</html>
